:root {
    font-size: 12px;
    --font-primary: Roboto, sans-serif;

    --color-white: #fff;
    --color-dark-blue: #142149;
    --color-mid-blue: #007bfc;
    --color-light-blue: #51B9FF;
}

* {
    transition: all 250ms ease-in-out;
    font-family: var(--font-primary);
    font-weight: 300;
    color: var(--color-white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    padding: 4.56rem 3.125rem 6.25rem;
    width: 100%;
    align-items: center;
    background-image: url('./sphere.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}

.banner__title {
    font-size: 4.125rem;
    line-height: 4.75rem;
} 

.banner__title span {
    color: var(--color-light-blue);
}

.banner__branch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__branch::before {
    content: "";
    display: block;
    width: 2px;
    background-color: var(--color-mid-blue);
}

.banner__branch--lg { 
    margin-block-start: 6.75rem;
    gap: 5.437rem;
    font-size: 2.5rem;
    line-height: 3rem;
}

.banner__branch--lg::before {
    height: 5.75rem;
}

.banner__branch--container {
    display: flex;
    gap: 1.187rem;
    width: 100%;
    justify-content: space-between;
}

.banner__branch--sm {
    margin-block-start: 1.937rem;
    gap: 1.75rem;
    line-height: 1.2rem;
    width: 33%;
}

.banner__branch--sm::before {
    height: 1.875rem;
}

@media(min-width: 750px) {
    :root {
        font-size: 16px;
    }
}
